# .gitignore
E-Katalog UMKM Desa Pasiragung Software Development Life Cycle (SDLC).md
E-Katalog UMKM Desa Pasiragung Software Requirements Specification (SRS).md
E-Katalog UMKM Desa Pasiragung Product Requirements Document (PRD).md
analysis_report.md

